﻿* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Comfortaa', cursive;
    line-height: 25px;
}

main {
    width: 50%;
    margin: auto;
    background-color: #ffffff;
    color: #0277bd;
    padding: 20px 100px;
}

h1 {
    padding: 20px 30px;
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size: 40px;
}

section {
    margin: 40px 0;
}

div {
    margin-bottom: 15px;
}

select, #TypeRoom option, input {
    font-family: 'Comfortaa', cursive;
    color: #0277bd;
}

.errorMsg {
    color: #ff0000;
    font-size: 13px;
}

.errorSummary {
    margin: 20px;
    border: 1px solid red;
    padding: 5px;
}

#submitButton {
    width: 150px;
    padding: 5px 10px;
}

#sectionCheckInOut div {
    float: left;
    width: 50%;
    overflow: hidden;
}

input#checkIn, input#checkOut {
    color: gray;
}

section#sectionCheckInOut {
    padding: 30px 0;
}

tbody tr td {
    padding: 0 5px;
}